<html>
  <head>
    <style type="text/css">
      .ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td,img{line-height:100%}#outlook a{padding:0}.ExternalClass,.ReadMsgBody{width:100%}a,blockquote,body,li,p,table,td{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}table,td{mso-table-lspace:0;mso-table-rspace:0}img{-ms-interpolation-mode:bicubic;border:0;height:auto;outline:0;text-decoration:none}table{border-collapse:collapse!important}#bodyCell,#bodyTable,body{height:100%!important;margin:0;padding:0;font-family:Roboto,sans-serif}#bodyCell{padding:20px}#bodyTable{width:600px}@font-face{font-family:Roboto;src:url(https://static.misakey.com/fonts/Roboto/Roboto-Medium.ttf);src:url(https://static.misakey.com/fonts/Roboto/Roboto-Medium.ttf) format('ttf'), url(https://static.misakey.com/fonts/Roboto/Roboto-Medium.woff) format('woff'), url(https://static.misakey.com/fonts/Roboto/Roboto-Medium.woff2) format('woff2');font-weight:400;font-style:normal}@font-face{font-family:Roboto;src:url(https://static.misakey.com/fonts/Roboto/Roboto-Bold.ttf);src:url(https://static.misakey.com/fonts/Roboto/Roboto-Bold.ttf) format('ttf'), url(https://static.misakey.com/fonts/Roboto/roboto-latin-700.woff) format('woff'), url(https://static.misakey.com/fonts/Roboto/roboto-latin-700.woff2) format('woff2');font-weight:600;font-style:normal}@media only screen and (max-width:480px){#bodyTable,body{width:100%!important}a,blockquote,body,li,p,table,td{-webkit-text-size-adjust:none!important}body{min-width:100%!important}#bodyTable{max-width:600px!important}#signIn{max-width:280px!important}}
    </style>
  </head>
  <body>
    <center>
      <table style="width: 600px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;font-family: &quot;Roboto&quot;, sans-serif;border-collapse: collapse !important;height: 100% !important;" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
          <td align="center" valign="top" id="bodyCell" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 20px;font-family: &quot;Roboto&quot;, sans-serif;height: 100% !important;">
          <div class="main">
            <p style="text-align: center;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; margin-bottom: 30px;">
              <img src="https://static.misakey.com/img/MisakeyLogo.png" width="50" alt="Misakey Logo" style="-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
            </p>

            <h1>Code de validation Misakey</h1>

            <p>Nous avons reçu une demande d’accès à une boîte de dépôt Misakey.</p>

            <p>Votre code de validation Misakey est :</p>

            <strong>{{.code}}</strong>


            <p>Si vous n’avez pas demandé à recevoir ce code, une personne à qui vous avez transmis une boîte de dépôt peut être à l’origine de cette demande.<br>
            <strong>Assurez vous que cette personne est autorisé avant de lui transmettre ce code.</strong></p>

            <br>
            Cordialement,
            <br>
            L’équipe Misakey
            <br><br>
            <hr style="border: 2px solid #EAEEF3; border-bottom: 0; margin: 20px 0;">
            <p style="text-align: center;color: #A9B3BC;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">
              Cette adresse e-mail ne peut pas recevoir de réponses. Pour en savoir plus, consultez l’aide Misakey.
              <br> © Misakey SAS, 66 avenue des champs Elysée, 75008 Paris, France
            </p>
          </div>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
